body {
	background-color: pink;

}

h1 {
	font-family: Helvetica;
	font-size: 80px;
	margin-top: 50px;
	margin-right: 200px;
	margin-left: 480px;
	color: brown;

}

#tabs {

	margin: 10px 300px 50px 300px;
}

#accordion {

	margin: 50px 300px 100px 300px;
}

/*.images {
	padding: 50px 50px 50px 50px;
}
*/