h1 {
  font-size: 75px;
}

.folder {
  height: 400px;
}

.char1 {
  color: #002244;
}

.char2 {
  color: #69BE28;
}

.char3 {
  color: #A5ACAF;
}

.char4 {
  color: #002244;
}

.char5 {
  color: #69BE28;
}

.char6 {
  color: #A5ACAF;
}

.char7 {
  color: #002244;
}

.char8 {
  color: #69BE28;
}

.char9 {
  color: #A5ACAF;
}

.char10 {
  color: #002244;
}

.char11 {
  color: #69BE28;
}

.char12 {
  color: #A5ACAF;
}

.char13 {
  color: #002244;
}
